<div class="window demo-container">
    <h3>Live Framework Demo</h3>

    <forms-validation id="forms-validation"></forms-validation>

    <directive-sample id="directive-sample"></directive-sample>

    <pipe-sample id="pipe-sample"></pipe-sample>

    <for-sample id="for-sample"></for-sample>
    
    <if-sample id="if-sample"></if-sample>
    
    <virtual-for-sample id="virtual-for-sample"></virtual-for-sample>

    <date-time-picker-sample id="date-time-picker-sample"></date-time-picker-sample>
    
    <analogue-clock-sample id="analogue-clock-sample"></analogue-clock-sample>
    
    <radial-context-menu-sample id="radial-context-menu-sample"></radial-context-menu-sample>

    <http-sample id="http-sample"></http-sample>
    
    <notification-sample id="notification-sample"></notification-sample>

    <modal-sample id="modal-sample"></modal-sample>

    <router-sample id="router-sample"></router-sample>
    
    <empty-sample id="empty-sample"></empty-sample>

    <loader-component id="app-loader"></loader-component>
</div>
