<div class="forms-validation-root window">
    <h3>Forms Validation</h3>
    <form class="forms-validation-form flex-vertical">
        <div class="form-group">
            <label for="input1">First Input</label>
            <input id="input1" name="input1" type="text" class="input-primary" placeholder="First input value" />
        </div>
        <div class="form-group">
            <label for="input2">Second Input</label>
            <input id="input2" name="input2" type="text" class="input-primary" placeholder="Second input value" />
        </div>
    </form>
</div>
