@use '@styles' as *;

playground-view {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

demo-component {
    &.demo-hidden {
        display: none !important;
    }

    &.demo-visible {
        display: block !important;
    }
}