<div class="app-component-root">
    <header-component></header-component>
    <div class="window">
        <h3>App component</h3>
        <div class="flex-vertical">
            <div id="result"></div>
            <input id="username" type="text" class="input-primary" />
            <input type="text" class="input-primary user-input" />
        </div>
        <div class="flex-horizontal">
            <button
                class="button-primary login-btn"
                onclick="app.onLogin(this)"
            >
                Login
            </button>
            <button
                class="button-primary logout-btn"
                onclick="app.onLogout(this)"
            >
                Logout
            </button>
            <button
                class="button-primary default-login-btn"
                onclick="app.setDefaultLogin(this)"
            >
                Set explicitly value on login input
            </button>
        </div>
    </div>
    <custom-component
        id="component1"
        name="customComponent1"
    ></custom-component>
    <custom-component
        id="component2"
        name="customComponent2"
    ></custom-component>
    <raw-template id="raw-template"></raw-template>
</div>
